{{ define "main" }}
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
      {{ .Title }}
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div class="text-{{ .Site.Params.date_color | default "black" }}">
      {{ .Date.Format "Jan 2, 2006" }}
    </div>      
  </div>

  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
  {{ .Content }}
  {{ partial "mermaid.html" . }}
<div class="col-1"></div>
</div>

{{ end }}
